/** Styling for a prettified view of XHTML wayscript.
  *
  * root> (f=tool/xhwsPretty/pretty.css; sudo -u public cp --interactive /home/mike/100-0/$f /mnt/lan/obsidian/var/www/localhost/htdocs/100-0/$f)
  */
@namespace h 'http://www.w3.org/1999/xhtml';
@namespace w 'data:,wayrepo.wayscript';


h|html
{
    background-color: #303030;
    color: hsl( 0, 0%, 76% );
}


h|a
{
    color: hsl( 200, 50%, 70% );
}


w|*
{
    display: block;
}


w|*:before
{
    border-radius: 0.5em/50%; /* for sake of box-shadow */
    font-weight: bold;
    margin-right: 0.3em;
}



/** - a --------------------------------
  */
h|a
{
    text-decoration: none; /* underlines are distracting here */
}



/** - box ------------------------------
  */
w|box:before
{
    color: hsl( 0, 0%, 100% );
    content: 'box ';
}



/** - end ------------------------------
  */
w|end, w|means
{
    color: hsl( 0, 0%, 50% );
}


w|end:before
{
    content: 'end ';
}


w|end:after, w|means:after
{
    color: hsl( 0, 0%, 45% );
    content: '\a0\20' attr(href); /* non-breaking space \a0 or no space is rendered */
}


w|end[class~='js']:before, w|means[class~='js']:before,
w|end[class~='js']:after,  w|means[class~='js']:after
{
    content: normal; /* let pretty.js alone generate the content */
}


w|end h|a.relation
{
    padding-right: 0.2em;
}


w|end h|a.relation[href]
{
    color: hsl( 240, 50%, 75% );
}


w|end h|a.relation[href] span:first-child
{
    color: hsl( 240, 0%, 30% );
}


w|end h|a.relation[href] span + span
{
    color: hsl( 240, 15%, 50% );
}


w|end h|a.self
{
    padding-left: 0.3em;
    padding-right: 0.3em; /* more click area */
}



/** - h2 -------------------------------
  */
h|h2
{
    color: hsl( 0, 0%, 65% );
}


h|h2 span
{
    color: hsl( 0, 0%, 45% );
    font-weight: normal;
}



/** - handle ---------------------------
  */
w|handle
{
    display: none;
}



/** - loop -----------------------------
  */
w|loop:before
{
    color: hsl( 0, 0%, 100% );
    content: 'loop ';
}



/** - means ----------------------------
  */
w|means:before
{
    content: 'means ';
}


w|means h|a.relation
{
    padding-left: 0.2em;
    padding-right: 0.2em;
}


w|means h|a.relation[href]
{
    color: hsl( 300, 50%, 60% );
}



/** - wayscript ------------------------
  */
w|wayscript:before
{
    content: none;
}


w|wayscript w|* > w|*
{
    border-left: thin solid #555;
    margin-left: 0.9em;
    padding-left: 0.9em;
}



/** - self -----------------------------
  */
h|a.self
{
    color: hsl( 0, 0%, 65% );
    margin-right: 0.3em;
}


h|a.self:before, h|a.self:after
{
    color: hsl( 0, 0%, 45% );
}
h|a.self:before
{
    content: '(';
}
h|a.self:after
{
    content: ')';
}



/** - sequence -------------------------
  */
w|sequence:before
{
    color: hsl( 0, 0%, 100% );
    content: 'sequence ';
}



/** - step -----------------------------
  */
w|step:before
{
    color: hsl(120, 70%, 75%);
    content: 'step ';
}



/** - targeted -------------------------
  */
w|*[class~='targeted']:before, h|body.targeted w|wayscript
{
    box-shadow: 0 0 1.6em 0.8em hsl(240, 55%, 70%), /* x y blur spread colour */
                0 0 0.4em 0.2em hsl(240, 55%, 70%) inset;
}
w|end[class~='targeted'] a.relation
{
    box-shadow: 0 0 1.6em 0.8em hsl(300, 50%, 60%), /* x y blur spread colour */
                0 0 0.4em 0.2em hsl(300, 50%, 60%) inset;
}


w|*[class~='targeted_visibilityOff']:before, h|body.targeted_visibilityOff w|wayscript,
w|end[class~='targeted_visibilityOff'] a.relation
{
    box-shadow: none; /* fails on IE9, see pretty.js */
    transition: box-shadow 3.0s ease-out; /* property, duration, timing function, delay
      Intermittently fails with delay (Firefox 31.7), so coding delay in pretty.js.
      Changing duration?  Ensure adequate timeout for removeStyleClass in pretty.js. */
}
